//? Colors

$title-color: #401607; //icons, titles
$main-text-color: #0d0402; //text
$section-title-color: #bfada8; //section-title
$section-bg-color: #f2eceb; //section-bg

$light: #ffffff; //text inside icons,butoons

//?Transitions
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//?Fonts

$main-font: "Lato", sans-serif;
